---
layout: default
title:  Sosthene Irambona
notitle: true
---
{% assign person = include.person %}

{% for item in site.data.people %}
    {% assign person = item[1] %}
    {% if person.role == role.key %}
        {% include person.html person=person image=true %}
    {% endif %}
{% endfor %}

<section>

    <div class="container" style="margin: 0pt; padding: 0%;">
        <div class="row">
            <div class="col-md-auto">
                <div class="jumbotron" style="font-size: 100%;">
                    <p class="text-center">
                        <img class="rounded-circle profile"
                        alt="Sosthene Irambona"
                        src="/img/people/sosthene-irambona.jpg"
                        width = 200pt />
                    </p>
                    <p class="text-center">
                        <strong>Sosthene Irambona</strong><br>
                        PhD Student
                    </p>
                    <hr>
                    <p>
                        <i class="fa fa-envelope-o"></i>&nbsp; isoras10@gmail.com <br>
                        <i class="fa fa-twitter"></i>&nbsp; @isoras10 <br>          
                    </p>
                </div>
            </div>
            <div class="col">
                <p class="font-weight-bold m-0 p-0">Biography</p>
                <p>
Sosthène’s research work lies in theoretical condensed matter physics where he uses ab initio electronic structure (mainly, density functional theory), machine learning and molecular dynamics methods to study the evolution of molecules on solid interfaces. His PhD research focuses on using accurate and efficient classical and quantum molecular dynamics simulations to understand the light-driven dissociation of water on the surface of solid catalysts(photocatalytic water splitting).
In addition to his doctoral research work, he serves as a teaching assistant(TA) for the masters courses, quantum mechanics(QM) I and Electrons and Phonons in Solids(EPS). Prior to joining the group, he served as an assistant lecturer in physics at Rwanda Polytechnic-Integrated Regional College(IPRC) of Musanze.
          
<!--His work falls in the area of condensed matter physics and quantum simulations where he is specifically interested in understanding the photocatalytic splitting of water on the surface of a solid substrate (heterogeneous catalyst) using classical and quantum molecular dynamics simulations.
                 </p>

                <p class="font-weight-bold m-0 p-0">Research Interests</p>
                <p>
                    My research interests are at the intersection of machine learning and healthcare (neurodegenerative diseases). My work focuses on the creation of advanced classification algorithms for diagnosis, prognosis and understanding of Parkinson's Disease using different machine learning methods like deep learning and evolutionary algorithms.  -->
                </p>

                <p class="font-weight-bold m-0 p-0">Thesis</p>
                <p>
Simulation of Water Dissociation on Surface for Photocatalytic Splitting using Classical and Quantum Molecular Dynamics.
                </p>
            </div>
        </div>
    </div>
</section>
